<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for choosing Rails Airlines, <%= @passenger %></h1>
    <p>
      Your flight booking was successful. View the trip itinerary <%= link_to 'here', @url %>.
    </p>
    <p>Have a safe trip!</p>
  </body>
</html>