<div class='flight row'>
    <span class='col-md'>
        <%=flight.from_airport.code%> -> <%=flight.to_airport.code%>
    </span>
    <span class='col-md'>
        <%= flight.date.strftime("%B %e, %Y at %l:%M")%>
    </span>
    <span class='col-md'>
        <%= flight.format_duration %>
    </span>
</div>