<%= provide(:title, 'View Booking')%>
<%= provide(:header, render('layouts/bookings_header'))%>
<h1>Your Trip</h1>
<div class='row'><%= render 'shared/itinerary', object: @flight%></div>
<div class='row'><h2>Passengers</h2></div></br>
    <% @booking.passengers.each_with_index do |p| %>
        <div class='d-flex justify-content-start passenger-info'>
            <div><%= p.name %></div>
        </div>
    <% end %>
</div>