<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= render 'layouts/rails_default'%>
  </head>
  <body>
    <div class='center jumbotron jumbotron-fluid'>
      <div class='container container-fluid'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
